<%= form_for(@whattelpp) do |f| %>
  <% if @whattelpp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whattelpp.errors.count, "error") %> prohibited this whattelpp from being saved:</h2>

      <ul>
      <% @whattelpp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="short">
    <%= f.label "Name of the spot" %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "Spot Summary" %><br />
    <%= f.text_area :description %>
  </div>

<!-- need to save input fields and output them later -->
   <div class="field" id = "short">
    <%= f.label "Awesomeness score out of 10 (10 being mind-hemmorhagingly amazing)" %><br />
    <%= f.text_field :name %>
  </div>

<!-- need to save input fields and output them later -->
  <div class = "field" id = "short">
     <%= f.label "Are you a noob or vet?" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  
<% end %>
