<h1>Listing Whatelps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @whattelpps.each do |whattelpp| %>
  <tr>
    <td><%= whattelpp.name %></td>
    <td><%= whattelpp.description %></td>
    <td><%= link_to 'Show', whattelpp %></td>
    <td><%= link_to 'Edit', edit_whattelpp_path(whattelpp) %></td>
    <td><%= link_to 'Destroy', whattelpp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'I know what\'s up!', new_whattelpp_path, :method => "get" %>
