<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @whattelpp.name %>
</p>

<p>
  <b>Description:</b>
  <%= @whattelpp.description %>
</p>


<%= link_to 'Edit', edit_whattelpp_path(@whattelpp) %> |
<%= link_to 'Back', whattelpps_path %>
